.output {
  background: var(--color-base);
  width: 100%;
  padding: 19px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password {
  font-family: 'JetBrains Mono', -apple-system, BlinkMacSystemFont, monospace;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  min-height: 42px;
  cursor: default;
  background: none;
  color: var(--color-light);
  border: 0;
  outline: none;
}

.copy {
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.copy:hover svg path {
  fill: var(--color-light);
  transition: fill 0.3s ease;
}
