.strengthContainer {
  background: var(--color-dark);
  padding: 19px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.strengthTitle {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-gray);
}

.strengthValue {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-light);
  text-transform: uppercase;
}

.strengthValue span {
  margin-right: 10px;
}

.strengthIndicators {
  display: flex;
}

.strengthIndicators span {
  display: inline-block;
  margin-right: 6px;
  width: 10px;
  height: 28px;
  border: 1px solid white;
}

.strengthIndicators span:last-child {
  margin-right: 0;
}

.strengthIndicators.tooweak span:nth-child(1) {
  background: var(--color-red);
  border: 0;
}

.strengthIndicators.weak span:nth-child(-n + 2) {
  background: var(--color-orange);
  border: 0;
}

.strengthIndicators.medium span:nth-child(-n + 3) {
  background: var(--color-yellow);
  border: 0;
}

.strengthIndicators.strong span {
  background: var(--color-green);
  border: 0;
}
